*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

main{
    width: 100vw;
    height: 100vh;
}



/* PARTE SUPERIOR CSS*/
.topo{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.backgroudTopo{
    position: absolute;
    z-index: -10;
    bottom: 67%;
    left: 0;
    background-color: #707070;
    width: 100%;
    height: 100%;
    transform: skewY(5deg);
}

.topo h3{
    margin-top: 60px;
    font-size: 20px;
    color: white;
}

.topo h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.topo p{
    margin-top: 20px;
    font-size: 14px;
    color: white;
}

.botoesTopo{
    margin-top: 50px;
}

.botoesTopo button{
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    margin: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #888888;
}



/* FORM CSS */
.mail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textMail{
    width: 520px;
    margin-left: 40px;
}

.textMail h2{
    font-size: 20px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 30px;
}

.textMail p{
    font-size: 12px;
    color: #888888;
    margin-bottom: 30px;
}

.formMail{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.formMail div{
    margin-bottom: 20px;
}

.formMail input{
    width: 340px;
    height: 30px;
}

.formMail label{
    color: #888888;
    font-size: 12px;
    cursor: pointer;
}

.inputSexo{
    display: flex;
    align-items: center;
}

.inputSexo input{
    width: 14px;
    cursor: pointer;   
}

#radioWoman{
    margin-left: 40px;
    margin-right: 5px;
}
#radioMan{
    margin-right: 5px;
}

#buttonForm{
    width: 340px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #707070;
    font-weight: 16px;
    color: #888888;
    cursor: pointer;
}



/* CSS PRODUTOS */
.products{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
}


.textSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;

    font-size: 18px;
    font-weight: bold;
    color: #888888;


}

.textSection div{
    display: flex;
    justify-content: center;
    width: 250px;
}

.textSection span{
    width: 300px;
    height: 1px;
    background: #707070;
    opacity: 1;
}

.productsView{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.productsView div{
    width: 200px;
    height: 350px; 
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.productsView img{
    border: 1px solid #707070;
    width: 200px;
    height: 150px;
}

.productsView h3{
    margin-top: 10px;
    font-size: 14px;
    color: #888888;
}

.productsView p{
    margin-top: 10px;
    font-size: 12px;
    color: #888888;
}

.productsView h4{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #888888;
}

.productsView button{
    margin-top: 10px;
    width: 200px;
    height: 30px;
    background: white;
    cursor: pointer;
    color: #888888;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}


.botaoProdutos button{
    width: 260px;
    height: 40px;
    background: white;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
    font-size: 16px;
    color: #888888;
}


/* CSS ENCAMINHAMENTO section */

.foward{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foward p{
    margin-top: 40px;
    font-size: 16px;
    color: #888888;
}

.fowardForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #888888;
}

.fowardForm div{
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
    
}

.fowardForm input{
    width: 340px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #707070;
    opacity: 1;
}

.fowardForm label{
    margin-right: 20px;
    margin-left: 20px;

}

.nameFriend{
    display: flex;
    flex-direction: column;
}

.emailFriend{
    display: flex;
    flex-direction: column;
}

.fowardForm form button{
    width: 260px;
    height: 40px;
    background: white;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font-size: 18px;
    color: #888888;
    cursor: pointer;
}



/* FOOTER SECTION CSS */
.footer{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    color: white;
}

.footer div{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer span{
    position: absolute;
    z-index: -10;
    bottom: -184%;
    left: 0;
    background-color: #707070;
    width: 100%;
    height: 100vh;
    transform: skewY(-3deg);
    overflow: hidden;
}


/* MOBILY CONFIGS */
@media screen and (max-width: 850px){
    .topo{
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 20px;

    }

    .botoesTopo{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: center;
        align-items: center;

    }

    .botoesTopo button{
        width: 140px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .backgroudTopo{
        position: absolute;
        z-index: -10;
        bottom: 50vh;
        left: 0;
        background-color: #707070;
        width: 100%;
        height: 100%;
        transform: skewY(20deg);
    }

    .mail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        width: 100vw;    
    }

    .textMail{
        width: 90vw;
        margin-left: 0;
    }


    .foward{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foward p{
        text-align: center;
    }

    .fowardForm div{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        
    }

    .fowardForm div input{
        width: 90vw;
    }

    .footer{
        height: 250px;
    }

    .footer div{
        margin-top: 150px;
    }

    .footer span{
        position: absolute;
        z-index: -10;
        bottom: -85vh;
        left: 0;
        background-color: #707070;
        width: 100%;
        height: 100vh;
        transform: skewY(-5deg);
    }
   
}